@using deneme.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/EmployeeTest/DeleteEmployee/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/EmployeeTest/EditEmployee/@item.Id" class="btn btn-warning">Düzenle</a></td>
           
        </tr>
    }
</table>

<td><a href="/EmployeeTest/AddEmployee/" class="btn btn-primary">Yeni Çalışan Ekle</a></td>
