<div class="form-group">
    <br />
    <h3 class="text-primary">Yorum Yaz</h3>

    <div class="comment-top">
        <form asp-action="PartialAddComment" asp-controller="Comment" method="post">
            <div class="form-row">
                <div class="col-3">
                    <input type="text" class="form-control" name="CommentTitle" placeholder="Başlık Giriniz" required="">
                </div>
                <div class="col-7">
                    <input type="hidden" class="form-control" name="CommentUserName" placeholder="@ViewBag.name" value="@ViewBag.name" required="">
                </div>

                <div class="col">
                    <input type="hidden" class="form-control" name="BlogID" placeholder="Blog id" value="@ViewBag.CommentId" required="">

                </div>
            </div>
            <div>
                <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            </div>
            <br />

            <button type="submit" class="btn btn-primary btn-lg btn-block">Yorum Yap</button>
        </form>

    </div>


</div>